<!-- THIS IS WHERE YOUR BUCKIT IS VISUALLY DISPLAYED -->


<script src="/scripts/app.js"></script>

<h3>FUCKIT BUCKIT</h3>


</script>

  <div class="row">
    <div class="six columns">

      <!-- <div id="counter">
        <script type="text/javascript">
          var index = 0;
          function increment(var1) {
          index++;
          (var1 == 1)
          { document.getElementById('buckbutton').value=index; }
}
</script>
  <input type="button" id="buckbutton" onclick="increment(1)" value="increment me!"/>
  </div> -->

      <div id="thebuckit" class="">
        <form  action="/logout" method="post">
          <input formaction="/logout" type="submit" id="peaceout" name="name" value="Bye Felicia">
        </form>
          <img src="http://i.imgur.com/ldCWaQn.png" height="500" width="435"/>
        <form action="/addfuck" method="post">
          <input formaction="/addfuck" type="button" id="buckbutton" value="Fuck Buck">
        </form>
      </div>

    </div>
  </div>
</body>
</html>


<!-- onclick="increment(1)" -->
